@model ZooWebsite.Models.Announcements

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Announcements</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnouncementTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnouncementTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnouncementText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnouncementText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnnouncementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
